DBENGINE={{ opensips_db_engine }}
DBHOST={{ opensips_db_host }}
DBNAME="{{ opensips_db_name }}"
DBRWUSER="{{ opensips_db_user }}"
DBRWPW="{{ opensips_db_pass }}"
DBROOTUSER="{{ opensips_db_root_user }}"